        body {
          text-align: center;
        }

        .container {
          align-self: center;
          text-align: center;
          background-color: #c8f2bf;
        }

        h1 {
          font-size: 40px;
        }

        .kitten-showing {
          display: none;
        }

        img {
          margin: 30px;
          max-width: 50%;
          height: auto;
        }
        /*padding: 20px;
}


/*ul li {
  list-style: none;
}*/
        /*
#pests {
  margin-left: 45%;
  width: 5%;
}

#activities {
  margin-left: 45%;
  width: 5%;
}
*/
